// details.module.scss

$white: #FFF;
$dark-900: #121212;
$gray-100: #f0f0f0;
$green-900: #3fffa3;
$dark-700: #333333;

.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: $white;
  }
}

.details {
  margin-top: 2rem;

  h2 {
    color: $green-900;
  }

  p {
    color: $white;
  }

  a {
    color: $green-900;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    border: 1px solid $green-900;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-900;
      color: $dark-900;
    }
  }
}
